* {
  margin: 0;
  padding: 0;
}

.fondo_gris {
  background-color: #aca9a4;
}

.link_header {
  color:#4f2414;
  font-weight: bold;
}

.color_rosa {
  color: #db82c5;
}

.fondo_rosa {
  background-color: #ca7bca;
}

.fondo_rojo {
  background-color: #d72300;
}

.fondo_naranja {
  background-color: #ff8533;
}